* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
} 

.musicplayer {
    width: 400px;
    padding: 25px 35px;
    background: #657bdd;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #3d4bd0;
    color: #ecedf0;
    box-shadow: 0 5px 10px rgba(14, 3, 224, 0.22);

}
.songimg{
    width:240px;
    border-radius: 50%;
    border: 8px solid hsl(210, 7%, 94%);
    box-shadow: 0 10px 60px rgba(14, 3, 224, 0.22);
}
.musicplayer h1{
    font-size: 20px;
    font-weight: 400;
    color:#333;
    margin-top: 20px;

}
.musicplayer p{
    font-size: 14px;
    color:#333;
}

#progress{
    
    width: 100%;
    height: 6px;
    background: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}